:root {
  --primary: #010113;
  --secondary: #f1f1fe;
  --primary-button: #9a9af9;
  --primary-button-fg: var(--primary);
  --secondary-button: #cfcffc;
  --secondary-button-fg: var(--primary);
  --accent: #b2b2fb;
}
[theme="dark"] {
  --primary: #fdf3e8;
  --secondary: #050300;
  --primary-button: #4c4f94;
  --primary-button-fg: var(--primary);
  --secondary-button: #ededed;
  --secondary-button-fg: var(--secondary);
  --accent: #a82e38;
}

::selection {
  background-color: var(--accent);
}

h1 {
  font-size: 48px;
  letter-spacing: -1px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 32px;
  letter-spacing: -2px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: var(--subtitle);
  font-weight: 700;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5em;
  transition: transform 1s ease;
}

body {
  display: flex;
  flex-direction: column;
  gap: 4em;
  background-color: var(--secondary);
  color: var(--primary);
  margin: 0 15%;
  font-family: "Inter", sans-serif;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 6em;
  gap: 3em;
}
.hero-img {
  width: 45%;
}

:root {
  --h1: 48px;
  --h2: 32px;
  --subtitle: 24px;
  --p: 18px;
  --sub: 16px;
}

p {
  font-size: 18px;
  letter-spacing: normal;
  line-height: 150%;
}

.color-gradient {
  background: linear-gradient(120deg, var(--primary-button), var(--accent));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: var(--subtitle);
}

@media screen and (max-width: 1400px) {
  /* change depending on how wide the page content is  */
  body {
    margin: 0 5%;
  }
  h1 {
    font-size: var(--h2);
  }
  p {
    font-size: 16px;
  }
  .subtitle {
    font-size: 20px;
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  transition: none;
}

.menu-wide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.menu-ham {
  display: none;
}

.sitename {
  font-size: var(--subtitle);
  letter-spacing: -0.5px;
}

@media screen and (max-width: 1100px) {
  body {
    gap: 2em;
    margin-top: 6em;
  }
  nav {
    flex-wrap: wrap;
    position: fixed;
    background-color: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(50px);
    padding: 10px 20px;
    top: 20px;
    /* margin: 0 20px; */
    z-index: 9999;
    width: 90%;
    border-radius: 10px;
    gap: 3em;
  }
  .menu-wide {
    display: none;
  }
  .menu-ham {
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.8em 0.5em;
    border-radius: 5px;
  }
  #hamburger {
    cursor: pointer;
  }
  .hamburger {
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    position: relative;
    width: 20px;
    height: 10px;
  }
  .hamburger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    transition: transform 0.3s ease;
  }
  .hamburger span:first-child {
    top: 0;
  }
  .hamburger span:last-child {
    bottom: 0;
  }
  .sitename {
    font-size: 20px;
  }
  .hamburger.active span:first-child {
    transform: translateY(4px) rotate(45deg);
  }

  .hamburger.active span:last-child {
    transform: translateY(-4px) rotate(-45deg);
  }
  .menu {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
    gap: 0.5em;
    width: 100%;
    justify-content: flex-start;
    height: 100vh;
  }
  .menu-item-mobile {
    background-color: rgba(246, 246, 246, 0.2);
    padding: 1.5em;
    width: 100%;
    border-radius: 5px;
  }
  .hero-img {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
  }
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  root {
    --secondary: #000000;
  }
}

.nonselect,
.primary-button,
.secondary-button,
.menu-item,
.button,
.logo {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-item {
  font-size: var(--sub);
  transition: transform ease 0.2s;
}

.menu-item:hover {
  transform: translate(0, -3px);
}

.primary-container,
.secondary-container {
  padding: 1em;
  border-radius: 6px;
}

.primary-container {
  background-color: var(--secondary-button);
  color: var(--secondary-button-fg);
  z-index: 2;
}

.secondary-container {
  background-color: var(--primary-button);
  color: var(--primary-button-fg);
  z-index: 1;
}

.primary-button,
.secondary-button {
  padding: 1em 2em;
  border-radius: 6px;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
}

.primary-button {
  background-color: var(--primary-button);
  color: var(--primary-button-fg);
  z-index: 2;
}

.primary-button:hover {
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px var(--primary-button);
}

.secondary-button {
  background-color: var(--secondary-button);
  color: var(--secondary-button-fg);
  z-index: 1;
}

.secondary-button:hover {
  transform: translate(0, -3px);
}

.option {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  cursor: pointer;
  gap: 0.5em;
  border-radius: 4px;
  user-select: none;
  position: relative;
  height: 60px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none;
}
